name: 1.0.$(Date:yyyyMMdd).$(rev:r)
trigger:
  batch: true
  branches:
    include:
      - master

resources:
  repositories:
    - repository: templates
      type: git
      name: azure-cicd-templates
      ref: refs/heads/main

pool:
  vmImage: ubuntu-latest

jobs:
  - job: dockerBuild
    displayName: docker image build
    steps:
      - template: docker-build-and-push.yaml@templates
        parameters:
          imageName: harnoorpuniyani/boh-notification-service
          imageTag: v0
          directory: .
          dockerRegistry: docker-harnoorpuniyani
      - script: |
          docker run --rm \
          -v /var/run/docker.sock:/var/run/docker.sock \
          -v $(System.DefaultWorkingDirectory):/output \
          aquasec/trivy image \
          --format sarif \
          --output /output/report.sarif \
            vulnerables/web-dvwa:latest
        displayName: 'Run Trivy Security Scan'
        continueOnError: true
#harnoorpuniyani/boh-notification-service:v0
      - task: PublishTestResults@2
        enabled: false
        inputs:
          testResultsFormat: 'JUnit'
          testResultsFiles: '$(System.DefaultWorkingDirectory)/**/*.xml'
          mergeTestResults: true

      - task: PublishBuildArtifacts@1
        displayName: publish image scanning results
        enabled: true
        inputs:
          ArtifactName: CodeAnalysisLogs 
          publishLocation: Container
          PathtoPublish: $(System.DefaultWorkingDirectory)/report.sarif

      - script: |
          docker save harnoorpuniyani/boh-notification-service:v0 > boh-notification-service-$(Build.BuildNumber).tar
      
      - task: PublishBuildArtifacts@1
        inputs:
          ArtifactName: boh-notification-service
          PathtoPublish: boh-notification-service-$(Build.BuildNumber).tar