name: 1.0.$(Date:yyyyMMdd).$(rev:r)
trigger:
  batch: true
  branches:
    include:
      - master
variables:
  - group: third-party-tools
resources:
  repositories:
    - repository: templates
      type: git
      name: azure-cicd-templates
      ref: refs/heads/main

pool:
  vmImage: ubuntu-latest
stages:
  - stage: Scaning
    jobs:
      - job: UnitTest
        steps:
        - template: Go-unit-Test.yaml@templates
          parameters:
            modules:
              - 'processor'
              - 'notifier'
      
      - job: staticCodeAnalysis
        displayName: Static code Analysis
        dependsOn: UnitTest
        steps:
         - template: static-code-analysis-sonarqube.yaml@templates
           parameters:
             org: $(sonarqube-cloud-organisation-key)
             projectKey: arzom-test_boh

      - job: repoScan
        displayName: repositoryScan
        dependsOn: staticCodeAnalysis
        steps:
          - template: trivy-repo-scan.yaml@templates

      - job: dockerBuild
        displayName: docker image build
        dependsOn: repoScan
        steps:
          - template: docker-build-and-push.yaml@templates
            parameters:
              imageName: harnoorpuniyani/boh-notification-service
              imageTag: v0
              directory: .
              dockerRegistry: docker-harnoorpuniyani
          
          - template: trivy-image-scan.yaml@templates
            parameters:
              imageName: harnoorpuniyani/boh-notification-service
              imageTag: v0